.cardContainer {
    border: 2px solid #548cbc;
    border-radius: 0.3rem;
    display: flex;

}

.cardDetail {
    display: flex;
}

.cardText {
    padding-right: 2vh;
}

.btnActions {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.btnBack {
    margin-top: 0.5rem;
    width: 180px;
}

.toCart {
    width: 180px;
}

.price {
    padding-top: 2rem;
}