nav {
    width: 100%;
    background-color: #548cbc;
    min-height: 10vh;
    display: flex;
}

.ulNav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
}

li, a {
    color: black;
    font-size: 18px;
    list-style-type: none;
}

a {
    text-decoration: underline;
}

.cartNumber {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

}

img {
    width: 3rem;
}