.cartItems {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-bottom: 1rem;
}

.cartItemsImg {
    padding-right: 2rem;
}

.itemTittle {
    display: flex;
    justify-content: flex-start;
}