* {
  margin: 0;
  padding: 0;
  justify-content: center;
  font-family: 'Courier New', Courier, monospace;
}

.ProductsContainer {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
  padding-bottom: 20vh;
}

button {
  cursor: pointer;
}