button {
    border:white;
    padding: 1.5vh;
    border-radius: 0.5vh;
    background-color: #548cbc;
    color: white;
}

.controls {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 2vh;
}

.counter {
    padding-bottom: 3vh;
}